<div>
  <div class="card" v-for="video in videos" style="width: 18rem;">
    <img :src="video.snippet.thumbnails.medium.url" class="card-img-top" data-toggle="modal" data-target="#videoModal" @click="showModal(video)">
    <div class="card-body">
      <h5 class="card-title">{{ video.snippet.title }}</h5>
    </div>
  </div>
</div>

<button @click="prev" v-if="videos.length > 0" class="btn btn-success float-left">Prev page</button>
<button @click="next" v-if="videos.length > 0" class="btn btn-success float-left">Next Page</button>

<div class="modal fade" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toogleModal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center" v-html="title"></h4>
        <iframe width="100%" height="350" :src="modalvideo" allow="autoplay; encrypted-media"></iframe>
          <form @submit.prevent="savePlaylistSong">
            <select class="form-control-sm" v-model="saveSong" style="width:40%;">
              <option value="">Please Select</option>
              <optgroup v-if="user.playlists.length > 0" :label="user.name" v-for="user in playlistsUser">
                <option v-for="playlist in user.playlists" :value="playlist.id">{{playlist.name}}</option>
              </optgroup>
            </select>
            <input type="submit" value="Add" class="btn-sm btn-success">
            <button type="button" class="btn-sm btn-success float-right" 
                    data-toggle="modal" data-target="#modalplaylist">
                    Create Playlist
            </button>
            <div><br>
              <span v-if="alertMsg !== ''" class="alert" :class="alertClass" role="alert">{{alertMsg}}</span>
            </div>
          </form>
        <span id="message_result_modal" class="badge badge-danger" style="display: none;"></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalplaylist">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <form @submit.prevent="savePlaylist" method="POST">
          <h5 class="text-center">Create your playlist</h5>
          <label>Name:</label>
          <input required type="text" v-model="newPlaylistName">
          <input type="submit" class="btn btn-success">
          </form>
      </div>
    </div>
  </div>
</div>

