<div>
  <ul v-for="video in videos">
    <video-list :video="video"></video-list>
  </ul>
</div>

<button @click="prev" v-if="videos.length > 0" class="btn btn-success float-left">Prev page</button>
<button @click="next" v-if="videos.length > 0" class="btn btn-success float-left">Next Page</button>

<my-modal @close="hideModal" v-show="isModal">
  <span slot="header">
    <p class="modal-card-title">{{currentVideo.title}}</p>
  </span>
  <span slot="body">
    <iframe width="90%" height="300px" :src="currentVideo.url" allow="autoplay; encrypted-media"></iframe>
    <form v-if="session" @submit.prevent="addSongQueued">
      <input type="hidden" :value="currentVideo.title">
      <input type="hidden" :value="currentVideo.id">
      <input type="submit" value="Add to Queued" class="btn-sm btn-success">
    </form>
     <button v-if="session" class="btn-sm btn-success float-right" @click="modalplaylist = true">Create Playlist</button> 
     <form v-if="modalplaylist" @submit.prevent="savePlaylist" method="POST">
      <h5 class="text-center">Create your playlist</h5>
      <label>Name:</label>
      <input required type="text" v-model="newPlaylistName" maxlength="25">
      <input type="submit" @click="modalplaylist = false" class="btn btn-success">
    </form>
  </span>
</my-modal>