<div>
  <ul v-for="video in videos">
    <video-list :video="video"></video-list>
  </ul>
</div>

<button @click="prev" v-if="videos.length > 0" class="btn btn-success float-left">Prev page</button>
<button @click="next" v-if="videos.length > 0" class="btn btn-success float-left">Next Page</button>

<div style="position: fixed;left: 40%;top: 40%;">
  <google-button v-if="!session" @success="validateToken"></google-button>    
</div>



<my-modal @close="hideModal" v-show="isModal">
  <span slot="header">
    <p class="modal-card-title">{{currentVideo.title}}</p>
  </span>
  <span slot="body">
    <iframe width="90%" height="300px" :src="currentVideo.url" allow="autoplay; encrypted-media"></iframe>
    <form v-if="session" @submit.prevent="savePlaylistSong">
      <label>Playlists:</label>
      <select class="form-control-sm" v-model="idPlaylist" style="width:40%;">
        <option value="">Please Select</option>
        <optgroup v-if="user.playlists.length > 0" :label="user.name" v-for="user in playlistsUser">
          <option v-for="playlist in user.playlists" :value="playlist.id">{{playlist.name}}</option>
        </optgroup>
      </select>
      <input type="hidden" :value="currentVideo.title">
      <input type="hidden" :value="currentVideo.id">
      <input v-if="idPlaylist !== ''" type="submit" value="Add" class="btn-sm btn-success">
      <div><br>
        <span v-if="alertMsg !== ''" class="alert" :class="alertClass" role="alert">{{alertMsg}}</span>
      </div>
    </form>
  </span>
</my-modal>

