<% if @playlist.persisted? %>
    $("#modalplaylistedit").modal('toggle');
    $(".playlist_created").append('<option value="<%= @playlist.id %>"><%= @playlist.name %></option>');
  <% else %>
    alert("You dont have permissions for this action!");
<% end %>
